body{
    padding:0px;
    margin: 0px;
    background-color: #363434;
}
h1{
    font-family: "Merriweather", serif;
    color: white;
    font-size: 50px;
    margin: 10px;
}
h2{
    font-family: "Merriweather", serif;
    color: white;
    font-size:40px;
}
p{
    font-family: "Roboto Flex", sans-serif;
    color: white;
    font-size:20px;
}
button{
    font-family:sans-serif;
    color: white;
    font-size: 32px;
    width: 250px;
    padding: 8px;
    background-color:#de7214;
    border-radius: 2px;
    border-style: outset;
    border-color: #de7214; 
    margin-bottom: 20px;
    margin-top: 0;
}
button:hover{
    color: rgb(212, 212, 212);
    background-color: #af5a0f;
    border-color: #de7214;
    border-style: inset;
}
@media screen and (max-width: 1000px) {
    h1{
        padding-left: 10px;
        padding-right: 10px;
        font-size: calc(10px + 4vw);
    }
    h2{
        margin-top: 35px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: calc(10px + 3vw);
    }
    p{
        padding-left: 10px;
        padding-right: 10px;
        font-size: calc(10px + 1vw);
    }
    button{
        font-size: calc(10px + 3vw);
        width: 30vw;
    }
}

.navbar{
    position: fixed;
    width:100%;
    background-color:rgb(32, 32, 32);
    margin:0px;
    transition: 0.4s ease-in-out;
    z-index: 100;
}
#logo {
    font-family: monospace;
    margin-top:18px;
    font-size: 30px;
    margin-left: 5%;
    text-align: left;
    float: left;
}
.navbar ul{
    position: static;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
.navbar .navlinks{
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
}
.navbar a{
    color: white;
    font-family: monospace;
    font-size: 24px;
    text-decoration: none;
    padding: 20px;
    display: block;
}
.navbar a:hover{
   text-decoration: bold;
   background-color: #de7214;
}
.navbar svg{
    display: block;
}
.sidebar svg{
   width: 28px;
}
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    max-width: 200px;
    z-index: 999;
    flex-direction: column;
    display: none;
    align-items: right;
    justify-content: flex-start;
}
.sidebar li{
    width: 100%;
}
#open_menu{
    display: none;
}
/* Hides navbar links on narrower screens*/
@media screen and (max-width: 850px){
    .hideOnShrink{
        display: none;
    }
    #open_menu{
        display: block;
    }
}
/* Hides navbar logo on even narrower screens than above*/
@media screen and (max-width: 425px){
    #logo{
        display:none;
    }
}

.dec_bar{
    height:15px;
    background-color: #de7214;
    background-position: fixed;
    background-size: cover;
}


.bg_img{
    z-index: 10;
    padding: 0px;
    background-image: url(images/construction_placeholder.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-position: fixed;
    background-size: cover;
    height: 600px;
    min-width: 100%;
}
.slogan{
    margin-top: 0;
    margin-left:10px;
    margin-right:10px;
    position: relative;
    top: 250px;
    text-align: center;
}
.slogan2{
    position: relative;
    top: 230px;
    text-align: center;
}
.body_text{
    margin-left: 40px;
}


.home_container{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;

}
.home_container h1{
    text-align: center;
}
.home_container h2{
    text-align: center;
    align-self: center;
}
.home_container .body_text{
    margin: 20px;
    width: 60%;
    min-width: 300px;
}
.home_container .reviews{
    float: left;
    margin-left: 50px;
    margin-right: 50px;
    width: 25%;
    align-self: center;
    min-width: 400px;
        z-index: 10;
}
@media screen and (max-width: 500px){
    .home_container .reviews{
        min-width: 200px;
    }
}
.box{
    text-align:center;
    white-space: pre-line;
    padding:10px;
    background-color: #de7214;
    filter:drop-shadow(3px 5px 3px rgb(43, 43, 43))
}
#cust_reviews {
    opacity: 1;
    transition: 0.4s ease-in-out;
}
#cust_reviews.fade{
    opacity: 0;
}
.map{
    padding: 20px;
    margin-top: 100px;
    background-color:rgb(32, 32, 32);
    background-repeat: no-repeat;
    background-position: center;
    background-position: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
}
.map img{
    max-height:500px;
    max-width: 50%;
    padding: 50px;
}


.contact_container{
    overflow:auto;
}
.contact_container .form_container{
    width: 65%;
}
.row{
    min-width: 375px;
    overflow: auto;
}
.row div{
    float: left;
}
.col{
    width:40%;
    min-width: 300px;
    margin-right: 50px;
}
.contact_bg_img{
    padding: 0px;
    background-image: url(images/construction_placeholder.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-position: fixed;
    background-size: cover;
    height: 500px;
    text-align: center;
    min-width: 100%;
}
.contact_title{
    margin-top: 0;
    position: relative;
    top: 250px;
    text-align: center;
}


.simple_contact{
    margin-top: 50px;
    margin-top: 2%;
    width:100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    margin-bottom: 100px;
}
.simple_contact div{
    padding: 40px;
    padding-bottom: 20px;
}
.simple_contact .contact_left{
    max-width: 40%;
}
.simple_contact h2{
    font-size: 42px;
    margin: auto;
    margin-top: 20px;
}
.simple_contact h3{
    font-size: 32px;
    font-family:sans-serif;
    color: white;
    margin: 10px;
}


.services_bg_img{
    padding: 0px;
    background-image: url(images/construction_placeholder.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-position: fixed;
    background-size: cover;
    height: 500px;
    text-align: center;
    min-width: 100%;
}
.services_title{
    margin-top: 0;
    position: relative;
    top: 250px;
    text-align: center;
}

.serv_container{
    margin-top: 2%;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 100px;
}
.serv_container div{
    margin-left: 5%;
    margin-right: 5%;

}
.serv_txt{
    max-width: 50%;
}
.serv_container img{
   width: 100%;
   height: auto;
   min-width: 100px;
}






form{
    margin-left: 40px;
    color: white;
    margin-bottom: 50px;
}
form p{
    font-size: 30px;
    margin-bottom: 10px;
}
input{
    min-width: 300px;
    width:100%;
    height: 25px;
    font-size: 20px;
    border-width: 4px;
    border-style: inset;
}
input:hover{
    border-color: #de7214;
}
textarea{
    min-width: 300px;
    max-width: 1010px;
    width: 90%;
    font-size: 20px;
    border-style: inset;
    border-width: 4px;
    overflow:none;
}
textarea:hover{
    border-color: #de7214;
}
.submit{
    max-width:150px;
    height:40px;
    background-color:#de7214;
    border-radius: 2px;
    border-style: outset;
    border-color: #de7214;
}
.submit:hover{
    background-color:dark#de7214;
    border-color: dark#de7214;
}